html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family-body);
  color: var(--color-body);
  background-color: var(--color-body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  margin-top: var(--space-heading-margin-top);
  margin-bottom: var(--space-heading-margin-bottom);
  line-height: 1;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}
