:root {
  --lightRed1: hsl(359 100% 99.4%);
  --lightRed2: hsl(359 100% 98.6%);
  --lightRed3: hsl(360 100% 96.8%);
  --lightRed4: hsl(360 97.9% 94.8%);
  --lightRed5: hsl(360 90.2% 91.9%);
  --lightRed6: hsl(360 81.7% 87.8%);
  --lightRed7: hsl(359 74.2% 81.7%);
  --lightRed8: hsl(359 69.5% 74.3%);
  --lightRed9: hsl(358 75% 59%);
  --lightRed10: hsl(358 69.4% 55.2%);
  --lightRed11: hsl(358 65% 48.7%);
  --lightRed12: hsl(354 50% 14.6%);

  --lightMauve1: hsl(300, 20%, 99%);
  --lightMauve2: hsl(300, 7.7%, 97.5%);
  --lightMauve3: hsl(294, 5.5%, 95.3%);
  --lightMauve4: hsl(289, 4.7%, 93.3%);
  --lightMauve5: hsl(283, 4.4%, 91.3%);
  --lightMauve6: hsl(278, 4.1%, 89.1%);
  --lightMauve7: hsl(271, 3.9%, 86.3%);
  --lightMauve8: hsl(255, 3.7%, 78.8%);
  --lightMauve9: hsl(252, 4%, 57.3%);
  --lightMauve10: hsl(253, 3.5%, 53.5%);
  --lightMauve11: hsl(252, 4%, 44.8%);
  --lightMauve12: hsl(260, 25%, 11%);

  --darkRed1: hsl(353 23% 9.8%);
  --darkRed2: hsl(357 34.4% 12%);
  --darkRed3: hsl(356 43.4% 16.4%);
  --darkRed4: hsl(356 47.6% 19.2%);
  --darkRed5: hsl(356 51.1% 21.9%);
  --darkRed6: hsl(356 55.2% 25.9%);
  --darkRed7: hsl(357 60.2% 31.8%);
  --darkRed8: hsl(358 65% 40.4%);
  --darkRed9: hsl(358 75% 59%);
  --darkRed10: hsl(358 85.3% 64%);
  --darkRed11: hsl(358 100% 69.5%);
  --darkRed12: hsl(351 89% 96%);

  --darkMauve1: hsl(246 6% 9%);
  --darkMauve2: hsl(240 5.1% 11.6%);
  --darkMauve3: hsl(241 5% 14.3%);
  --darkMauve4: hsl(242 4.9% 16.5%);
  --darkMauve5: hsl(243 4.9% 18.8%);
  --darkMauve6: hsl(244 4.9% 21.5%);
  --darkMauve7: hsl(245 4.9% 25.4%);
  --darkMauve8: hsl(247 4.8% 32.5%);
  --darkMauve9: hsl(252 4% 45.2%);
  --darkMauve10: hsl(247 3.4% 50.7%);
  --darkMauve11: hsl(253 4% 63.7%);
  --darkMauve12: hsl(256 6% 93.2%);

  --red1: var(--lightRed1);
  --red2: var(--lightRed2);
  --red3: var(--lightRed3);
  --red4: var(--lightRed4);
  --red5: var(--lightRed5);
  --red6: var(--lightRed6);
  --red7: var(--lightRed7);
  --red8: var(--lightRed8);
  --red9: var(--lightRed9);
  --red10: var(--lightRed10);
  --red11: var(--lightRed11);
  --red12: var(--lightRed12);

  --mauve1: var(--lightMauve1);
  --mauve2: var(--lightMauve2);
  --mauve3: var(--lightMauve3);
  --mauve4: var(--lightMauve4);
  --mauve5: var(--lightMauve5);
  --mauve6: var(--lightMauve6);
  --mauve7: var(--lightMauve7);
  --mauve8: var(--lightMauve8);
  --mauve9: var(--lightMauve9);
  --mauve10: var(--lightMauve10);
  --mauve11: var(--lightMauve11);
  --mauve12: var(--lightMauve12);
}

.dark-theme {
  --red1: var(--darkRed1);
  --red2: var(--darkRed2);
  --red3: var(--darkRed3);
  --red4: var(--darkRed4);
  --red5: var(--darkRed5);
  --red6: var(--darkRed6);
  --red7: var(--darkRed7);
  --red8: var(--darkRed8);
  --red9: var(--darkRed9);
  --red10: var(--darkRed10);
  --red11: var(--darkRed11);
  --red12: var(--darkRed12);

  --mauve1: var(--darkMauve1);
  --mauve2: var(--darkMauve2);
  --mauve3: var(--darkMauve3);
  --mauve4: var(--darkMauve4);
  --mauve5: var(--darkMauve5);
  --mauve6: var(--darkMauve6);
  --mauve7: var(--darkMauve7);
  --mauve8: var(--darkMauve8);
  --mauve9: var(--darkMauve9);
  --mauve10: var(--darkMauve10);
  --mauve11: var(--darkMauve11);
  --mauve12: var(--darkMauve12);
}
