.g-max-width-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-body-padding-x);
}

.g-page-title {
  margin-top: 1em;
  // font-weight: 400;
  font-family: inherit;
  &::after {
    margin-top: 0.8em;
    content: '';
    display: block;
    width: 80px;
    border-bottom: solid 6px var(--red9);
  }
}

.g-well {
  background: var(--color-well-background);
  border: solid 1px var(--color-well-border);
  border-radius: var(--border-radius-well);
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  box-shadow: var(--shadow-small);
}

.g-well-body {
  padding: var(--space-well-padding);
  > :last-child {
    margin-bottom: 0;
  }
}

.g-m-0 {
  margin: 0;
}

.g-mt-0 {
  margin-top: 0;
}

.g-mt-16 {
  margin-top: 4rem;
}

.g-mb-0 {
  margin-bottom: 0;
}

.g-mb-1 {
  margin-bottom: 0.25rem;
}

.g-mb-2 {
  margin-bottom: 0.5rem;
}

.g-mb-3 {
  margin-bottom: 0.75rem;
}

.g-mb-4 {
  margin-bottom: 1rem;
}

.g-mb-5 {
  margin-bottom: 1.25rem;
}

.g-mb-6 {
  margin-bottom: 1.5rem;
}

.g-mb-7 {
  margin-bottom: 1.75rem;
}

.g-mb-8 {
  margin-bottom: 2rem;
}

.g-mb-12 {
  margin-bottom: 3rem;
}
