.g-max-width-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-body-padding-x);
}

.g-page-title {
  font-size: 24px;
}

.g-well {
  background: var(--color-well-background);
  border-radius: var(--border-radius-well);
  padding: var(--space-well-padding);
}
