@use 'media';

:root {
  --color-text-high-contrast: var(--mauve12);
  --color-text-low-contrast: var(--mauve11);
  --color-background: var(--mauve1);
  --color-brand: var(--red9);

  // Header
  --color-header-background: var(--mauve2);
  --color-header-text-low-contrast: var(--mauve11);
  --color-header-text-high-contrast: var(--mauve12);
  --color-header-border-bottom: var(--mauve6);

  // Footer
  --color-footer-background: var(--mauve2);
  --color-footer-border-top: var(--mauve6);

  // Well
  --color-well-background: var(--mauve3);
  --color-well-border: var(--mauve6);

  // Fonts
  --font-family-display: 'Oswald';
  --font-family-body: 'Montserrat';
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1rem;

  // Space
  --space-body-padding-x: 16px;
  --space-heading-margin-top: 2em;
  --space-heading-margin-bottom: 0.75em;
  --space-header-height: 60px;
  --space-well-padding: 32px;

  // Radii
  --border-radius-well: 16px;

  // Shadows
  --shadow-small: 0 1px 3px rgb(0, 0, 0, 0.2);
  --shadow-medium: 0 2px 6px rgb(0, 0, 0, 0.2);

  @include media.tablet {
    --space-body-padding-x: 64px;
    --space-well-padding: 32px;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.25rem;
  }
}
