@use 'media';

:root {
  --color-text-high-contrast: var(--mauve12);
  --color-text-low-contrast: var(--mauve11);
  --color-background: var(--mauve1);
  --color-brand: var(--red9);

  --color-header-background: var(--mauve1);
  --color-header-text-low-contrast: var(--mauve11);
  --color-header-text-high-contrast: var(--mauve12);
  --color-header-border-bottom: var(--mauve6);

  // Fonts
  --font-family-heading: 'Oswald';
  --font-family-body: 'Montserrat';
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;

  // Space
  --space-body-padding-x: 32px;
  --space-heading-margin-top: 1.25em;
  --space-heading-margin-bottom: 0.75em;
  --space-header-height: 60px;

  @include media.tablet {
    --space-body-padding-x: 64px;
  }
}
