#header {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  a.logo {
    width: 84px;
    color: inherit;
  }

  .menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
  }

  .menu-item a {
    font-family: var(--font-family-heading);
    font-size: 0.875rem;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: initial;

    &:hover {
      text-decoration: underline;
    }
  }
}
