@use '../media';

#header {
  display: flex;
  align-items: center;
  background: green;
  padding: 16px;
  justify-content: space-between;

  a#logo {
    display: block;
    color: inherit;
    width: 64px;

    @include media.tablet {
      width: 84px;
    }
  }

  button#hamburger-menu {
    display: block;
    width: 42px;
    margin-top: -8px;
    padding: 8px;
    border: 0;
    background: transparent;

    div {
      display: block;
      background: black;
      margin-top: 6px;
      margin-bottom: 6px;
      border: solid 1px black;
      border-radius: 2px;
    }
  }

  #desktop-nav {
    display: none;
  }

  .menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
  }

  .menu-item a {
    font-family: var(--font-family-heading);
    font-size: 0.875rem;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: initial;

    &:hover {
      text-decoration: underline;
    }
  }
}
