#program {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding-top: 24px;
    padding-bottom: 24px;
    vertical-align: top;
    background: var(--mauve3);

    @media (max-width: 768px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  th {
    padding-left: var(--space-well-padding);
    text-align: left;
    width: 40%;
  }

  td {
    padding-right: var(--space-well-padding);
    text-align: right;
  }

  tr + tr > * {
    border-top: solid 1px var(--mauve8);
  }

  tr:first-of-type > th {
    border-top-left-radius: var(--border-radius-well);
  }

  tr:first-of-type > td {
    border-top-right-radius: var(--border-radius-well);
  }

  tr:last-of-type > th {
    border-bottom-left-radius: var(--border-radius-well);
  }

  tr:last-of-type > td {
    border-bottom-right-radius: var(--border-radius-well);
  }

  ul {
    list-style-type: none;
  }

  .participant-title {
    font-family: var(--font-family-body);
    font-size: inherit;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    @media (max-width: 600px) {
      margin-top: 16px;
    }
  }

  details {
    margin-bottom: 16px;
  }

  summary {
    font-weight: 600;
    color: var(--red11);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    margin-bottom: 16px;
  }
}
