@use '../global/media';

#header-content {
  position: relative;

  .content {
    display: flex;
    justify-content: space-between;
    padding-top: var(--space-header-padding-top);
    padding-bottom: var(--space-header-padding-bottom);
  }

  .logo {
    color: inherit;
    width: 60px;
    margin-bottom: -10px;

    @include media.tablet {
      width: 80px;
    }
  }

  .desktop-nav {
    display: none;
  }

  .menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
  }

  .menu-item a {
    font-size: 0.875rem;
    color: inherit;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2ch;

    &:hover {
      text-decoration: underline;
    }
  }
}
