@use '../global/media';

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  color: var(--mauve1);
  background: black;
  height: var(--space-header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    // Width is inlined to prevent big shifts on CSS load
    display: block;
    color: inherit;
    margin-bottom: -10px;

    @include media.tablet {
      margin-right: 8px;
    }
  }

  .mobile-nav-wrapper {
    display: block;
    margin-top: -10px;
  }

  .desktop-nav {
    display: none;
  }

  @include media.laptop {
    .content {
      justify-content: flex-start;
    }

    .mobile-nav-wrapper {
      display: none;
    }

    .desktop-nav {
      display: block;
    }
  }

  .menu {
    list-style-type: none;
    display: flex;
    gap: 28px;
  }

  .menu-item a {
    font-size: 0.875rem;
    font-weight: 600;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
