#mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-header-background);
  color: var(--color-header-text-high-contrast);
  z-index: 100;

  &.open {
    display: block;
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 14px;
  }

  .close-button {
    color: inherit;
    background: transparent;
    border: none;
    font-size: 48px;
    font-weight: 300;
    width: 40px;
    height: 40px;
    line-height: 1;
    position: relative;
    top: -8px;
    right: -10px;
    -webkit-tap-highlight-color: transparent;
  }

  ul.menu {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
    margin-left: 16px;
    margin-top: 56px;
    font-weight: 600;
  }

  li.menu-item {
    margin-bottom: 12px;
  }

  li.menu-item a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
