@use './global/media';

.home /* This is a class added to the body by Wordpress */ {
  --color-header-background: #000;
  --color-header-text-high-contrast: var(--darkMauve12);
  --color-header-text-low-contrast: var(--darkMauve12);
  --color-header-border-bottom: #000;

  #hero-backdrop {
    position: relative;
    background: linear-gradient(
      var(--color-header-background),
      hsl(357 50% 40%) 40%
    );
    color: white;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 64px;
    border-bottom: solid 8px var(--red9);
    margin-top: calc(var(--space-header-height) * -1);

    @include media.tablet {
      padding-top: 260px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../img/tavaci-concert-girls.webp);
      background-size: cover;
      filter: grayscale(100%);
      mix-blend-mode: multiply;
    }
  }
  #hero {
    position: relative;
    max-width: 650px;
    margin-inline: auto;
    padding-inline: var(--space-body-padding-x);

    .headline {
      /** Min viewport: 320px; Max viewport: 768px; */
      font-size: clamp(3rem, 0.86rem + 10.71vw, 6rem);
      margin-top: 0;
      margin-block-end: 72px;
      line-height: 1;
      color: white;
    }

    .headline-suffix {
      padding-inline: 8px;
      padding-block-end: 8px;
      text-decoration: underline;
      text-decoration-color: var(--red9);
      font-style: normal;
    }

    .blurb {
      font-size: clamp(1rem, 0.64rem + 1.785vw, 1.5rem);
      margin-bottom: 72px;
      font-weight: 500;
    }
  }
}
