@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf'),
    url('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

:root {
  --font-family-heading: 'Oswald';
  --font-family-body: 'Montserrat';
  --hue-red: 0deg;
  --red-50: hsl(var(--hue-red), 82%, 50%);
  --red-60: hsl(0, 82%, 50%);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family-body);
}

#flex-container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  :nth-child(2) {
    flex: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

.g-max-width-wrapper {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
